body{
    background-repeat: no-repeat ;
}


h1{
    font-size: 2.2em;
    text-shadow: 1px 2px 2px black;
}

.controle{
    transition: 0.4s ease;
}

.controle i{
    font-size: 1.5em;
}

.controle:hover{
    background-color: #7a7a7a;
    color: white;
}

